body{
    background-color: antiquewhite;
}
#tarolo{
    background-color: brown;
    color: beige;
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    
}
#menu a{
    color: rgb(119, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(39, 8, 177);
    padding: 5px 10px 5px 10px;
    background-color: rgb(223, 233, 170);
    border-radius: 10px;

}
#menu a:hover{
    color: rgb(214, 184, 15);
}
img {
    width: 300px;
}